.card {
  position: relative;
  width: 340px;
  height: 334px;
  border-radius: 15px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.card:hover {
  background-color: #f0f6ff;
}

.card:focus {
  border: 2px solid var(--Linkbrary-primary-color);
}

.card__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card__image:hover & {
  transform: scale(1.3);
  transition: transform 0.5s ease;
}

.card__favorite-button {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
}

.card__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 15px 20px;
}

.card__text--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__text--formatted-date {
  font-size: 1.3rem;
  color: #666;
}

.card__text--description {
  height: 49px;
  font-size: 1.6rem;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.card__text--date {
  font-size: 1.4rem;
  color: #333;
}
