.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 12px;
  font-family: Pretendard;
  font-size: 16px;
  line-height: 24px;
  outline: none;
}

.input {
  width: 100%;
  height: 100%;
  text-align: left;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20);
  background: var(--Linkbrary-white);
  padding: 18px 15px;
}

.input ::placeholder {
  color: var(--Linkbrary-gray60);
}

.input:focus {
  border-color: var(--Linkbrary-primary-color);
}

.input.error:focus {
  border-color: var(--Linkbrary-red);
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(-50%, -50%);
}

.error {
  border-color: var(--Linkbrary-red);
}

.error-message {
  color: var(--Linkbrary-red);
  padding-top: 6px;
}
