.label {
  position: relative;
}

.input {
  width: 350px;
  height: 60px;
  padding: 18px 15px;
  border-radius: 8px;
  border: 1px solid #ccd5e3;
}

.eye {
  position: absolute;
  top: 2px;
  right: 20px;
  cursor: pointer;
}
