.background-container {
  background-color: var(--Linkbrary-bg);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.sign-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 238px 0 100%;
  row-gap: 30px;
}
