.label {
  color: var(--black, #000);
  /* Linkbrary/body2-regular */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input {
  display: flex;
  width: 100%;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray-20, #ccd5e3);
  background: var(--linkbrary-white, #fff);
}

.input:focus {
  border: 1px solid var(--Linkbrary-primary-color, #6d6afe);
}

.password-container {
  position: relative;
}

.password-container img {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 47px;
  right: 15px;
}

.input-error {
  border: 1px solid var(--Linkbrary-red, #ff5b56);
}

.error-message {
  color: var(--Linkbrary-red, #ff5b56);
  /* Linkbrary/body2-regular */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
