.button {
  cursor: pointer;
}

.card {
  text-decoration: none;
  border-radius: 1.5rem;
  width: 100%;
  height: 100%;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
}

.card-hover {
  .card-img {
    transform: scale(1.3);
  }
}

.card-img-container {
  background-color: #dddfff;
  width: 100%;
  height: 20rem;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-img {
  position: relative;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  background-color: var(--Linkbrary-bg);
}

.no-img {
  object-fit: none;
}

.mention-wrapper {
  position: relative;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.time-and-kebob-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.kebab-btn {
  width: 2.1rem;
  height: 1.7rem;
  background-image: url("../public/kebab.png");
  background-position: center;
  background-color: inherit;
  border-style: none;
}

.popover {
  display: flex;
  flex-direction: column;
  background: var(--gray-light-gray-00, #fff);
  box-shadow: 0px 2px 8px 0px rgba(51, 50, 54, 0.1);
  position: absolute;
  top: 30px;
  right: -59px;
  z-index: 1;
}

.popover-btn {
  display: flex;
  padding: 7px 12px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  background-color: inherit;
  border-style: none;
}

.popover-btn:last-child {
  color: var(--color-primary);
  background-color: var(--Linkbrary-gray10, #e7effb);
}

.upload-time-ago {
  font-size: 1.3rem;
  color: #666;
  line-height: normal;
}

.description {
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 2.4rem;
}

.upload-date {
  font-size: 1.4rem;
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2.4rem;
}
