.nav {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 3.3rem 20rem 3.2rem;
  background: var(--linkbrary-bg, #f0f6ff);

  @media screen and (max-width: 1199px) {
    display: grid;
    grid-template-columns: minmax(32px, auto) minmax(32px, 800px) minmax(
        32px,
        auto
      );
    padding: 33px 0;
  }
}

.nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 1199px) {
    grid-column: 2/3;
  }
}
.header-logo-img {
  height: 2.4rem;
}
