.container {
  background-color: #f0f6ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  width: 400px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header span {
  font-size: 16px;
  margin-top: 12px;
}
