#article1 {
  grid-area: article1;
}
#article2 {
  grid-area: article2;
}
#article3 {
  grid-area: article3;
}
#article4 {
  grid-area: article4;
}
#image1 {
  grid-area: image1;
}
#image2 {
  grid-area: image2;
}
#image3 {
  grid-area: image3;
}
#image4 {
  grid-area: image4;
}

.section-highlight1 {
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
}
.section-highlight2 {
  background: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
}
.section-highlight3 {
  background: linear-gradient(
    99deg,
    #6d7ccd 19.76%,
    rgba(82, 136, 133, 0.22) 52.69%
  );
}
.section-highlight4 {
  background: linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 3rem 0 3rem;
  background-color: var(--color-gray1, #f0f6ff);

  & .title {
    font-size: 5rem;
    text-align: center;
    font-weight: 700;
    line-height: 8rem; /* 125% */
    text-wrap: nowrap;

    & .highlight {
      background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .link-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35rem;
    padding: 1.6rem 2rem;
    color: var(--grey-light, #f5f5f5);
    font-size: 18px;
    font-weight: 600;
    border-radius: 0.8rem;
    background: var(
      --gra-purpleblue-to-skyblue,
      linear-gradient(
        91deg,
        var(--color-primary, #6d6afe) 0.12%,
        #6ae3fe 101.84%
      )
    );
  }

  .top-image {
    min-width: 45rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    overflow: hidden;
  }
}

.container {
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 3rem auto;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "article1"
    "image1"
    "article2"
    "iamge2"
    "article3"
    "image3"
    "article4"
    "image4";
  margin: 12rem auto;
  gap: 8rem;
  padding: 3.2rem;

  & .article {
    width: 32rem;

    & .image,
    .description {
      width: 100%;
    }
  }

  & .section-title {
    margin-bottom: 3rem;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;

    & .section-highlight1,
    .section-highlight2,
    .section-highlight3,
    .section-highlight4 {
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  & .description {
    color: #6b6b6b;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
  }

  & .image {
    min-width: 30rem;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 7rem 0 0 0;
    margin: 0 auto;
    gap: 4rem;

    & .title {
      min-width: 30rem;
      font-size: 6.4rem;
    }

    .top-image {
      max-width: 70rem;
    }
  }

  .content {
    grid-template-columns: 32rem 10rem minmax(1rem, 10rem) 10rem 32rem;
    grid-template-areas:
      "article1 . . image1 image1"
      "image2 image2 . . article2"
      "article3 . . image3 image3"
      "image4 image4 . . article4";
    grid-row-gap: 5rem;
    grid-column-gap: 0;

    & .image {
      max-width: 45rem;
    }

    .article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }
}
